*.iml
.gradle
datepicker/local.properties
datepicker/.idea/libraries
datepicker/.idea/modules.xml
datepicker/.idea/workspace.xml
.DS_Store
datepicker/build
datepicker/captures
.externalNativeBuild
Dialog_DialogFragment/local.properties
Dialog_DialogFragment/.idea/libraries
Dialog_DialogFragment/.idea/modules.xml
Dialog_DialogFragment/.idea/workspace.xml
Dialog_DialogFragment/build
Dialog_DialogFragment/captures
FragmentViewPagerCommunication/local.properties
FragmentViewPagerCommunication/.idea/libraries
FragmentViewPagerCommunication/.idea/modules.xml
FragmentViewPagerCommunication/.idea/workspace.xml
FragmentViewPagerCommunication/build
FragmentViewPagerCommunication/captures
initial/local.properties
initial/.idea/libraries
initial/.idea/modules.xml
initial/.idea/workspace.xml
initial/build
initial/captures
KameraKowaiJava/local.properties
KameraKowaiJava/.idea/libraries
KameraKowaiJava/.idea/modules.xml
KameraKowaiJava/.idea/workspace.xml
KameraKowaiJava/build
KameraKowaiJava/captures
PopUpWindow/local.properties
PopUpWindow/.idea/libraries
PopUpWindow/.idea/modules.xml
PopUpWindow/.idea/workspace.xml
PopUpWindow/build
PopUpWindow/captures